@import 'reset.scss';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css';
@import 'clock.scss';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background: url(/src/img/bg.jpg) no-repeat center 25% / cover;
}
